
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Contenedor Principal */
.product-details {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título del Producto */
.product-title {
    text-align: center;
    margin-bottom: 20px;
}

.product-title h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

/* Contenedor de Detalles del Producto */
.product-details {
    display: flex;
    align-items: stretch; /* Alinea los elementos de acuerdo a la altura más alta */
    gap: 20px; /* Espacio entre la imagen y el contenido */
}

.imgcar {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    display:block;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
}

h3 {
    font-size: 1.5rem;
    color: #666;
    margin: 10px 0;
}

.price {
    font-size: 1.25rem;
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0;
}

.title-description {
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.id {
    font-size: 0.9rem;
    color: #999;
}

.sold {
    font-size: 0.9rem;
    color: #999;
}

.stars {
    direction: rtl;
    display: inline-flex;
    gap: 5px;
}

.stars input


.containerComment{
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#commentBox{
    
}